<mat-form-field style="width: 200px" color="accent" class="me-4">
  <input
    #filterInput
    matInput
    (input)="filter(filterInput.value)"
    placeholder="Search Categories..."
    type="text"
  />
</mat-form-field>

<!-- Date Range Search -->
<mat-form-field
  appearance="legacy"
  color="accent"
  style="width: 300px"
  class="me-4"
>
  <mat-label>Choose Date Range</mat-label>
  <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeForm">
    <input matStartDate formControlName="dateFrom" placeholder="Start Date" />
    <input matEndDate formControlName="dateTo" placeholder="End Date" />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<button mat-raised-button (click)="dateSearch()">
  <mat-icon>search</mat-icon> Search
</button>

<button style="float: right" routerLink="/balance" mat-raised-button>
  Add New
</button>

<!-- Table -->
<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="balancesDataSource">
    <ng-container matColumnDef="name">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.amount | number }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">{{ element?.category?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="account">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Account</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.account?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.date | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="edit(element)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(element)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No matching data</td>
    </tr>
  </table>

  <mat-paginator
    *ngIf="balances?.length !== 0"
    color="accent"
    showFirstLastButtons
    [pageSizeOptions]="[10, 20, 30, 40]"
  ></mat-paginator>
</div>

<button
  mat-raised-button
  matTooltip="Total Amount"
  matTooltipPosition="above"
  matTooltipShowDelay="500"
  matTooltipHideDelay="1000"
  class="total-btn"
>
  {{ totalAmount | number }} MMK
</button>
